body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container, .todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #a77d28;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #887a21;
}

#errorMessage {
    color: red;
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#logoutButton {
    margin-top: 20px;
    background-color: #dc3545;
}

#logoutButton:hover {
    background-color: #c82333;
}
